
{% load cms_tags %}

<!-- Header -->
<a name="about"></a>
<div class="intro-header">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    {% placeholder 'header' %}
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.intro-header -->
<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">

    <div class="container">
        <div class="row">
            {% placeholder 'section' %}
        </div>

    </div>
    <!-- /.container -->

</div>
<!-- /.content-section-a -->
