{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
    <head>
        {% block head %}
            {% include 'base/head.html' %}
        {% endblock head %}
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        {% block navbar %}
            {% include 'base/navbar.html' %}
        {% endblock navbar %}
            {% block content %}{% endblock content %}
        {% block footer %}
            {% include 'base/footer.html' %}
        {% endblock footer %}
        <script src="{% static 'landing-page/js/jquery.js' %}"></script>
        <script src="{% static 'landing-page/js/bootstrap.min.js' %}"></script>
        {% render_block "js" %}

    </body>
</html>
